*, 
*::before,
*::after
{
  box-sizing: border-box;
}

*
{
  margin: 0;
  padding: 0;
}

main 
{
  overflow-x: hidden;
  perspective: 2px;
}

header{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.content{
  padding: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

li{
  font-family: sans-serif;
  display: inline-block;
  color: #fff;
  margin: 2% 8% 0 8%;
}

li:hover{
  cursor: pointer;
  color: #4a009e;
}

header{
  background-color: #4a009e;
}

article 
{
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

article h1
{
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.no-parallax 
{
  background-color: #4a009e;
  z-index: 999;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax.bg {
  height: 100vh;
}

.parallax h1 {
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.parallax.bg {
  background-image: url("../images/fondo.gif");
}

footer{
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#github{
  background-color: linear-gradient(top, #000, #000);
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
}

#github:hover{
  color: rgb(246, 179, 255);
}

@media screen and (min-width: 768px) 
{
  article h1 
  {
    font-size: 8rem;
  }

  .parallax h1 
  {
    font-size: 4rem;
  }
}